<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title th:text="${eventTitle}">Wedding</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="To jest strona ślubna"/>
    <meta name="keywords" th:content="${eventTitle}"/>
    <meta name="author" th:content="${brideName}+' &amp; '+${groomName}"/>

    <!--
      //////////////////////////////////////////////////////

      FREE HTML5 TEMPLATE
      DESIGNED & DEVELOPED by FREEHTML5.CO

      Website: 		http://freehtml5.co/
      Email: 			info@freehtml5.co
      Twitter: 		http://twitter.com/fh5co
      Facebook: 		https://www.facebook.com/fh5co

      //////////////////////////////////////////////////////
       -->

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:site_name" content=""/>
    <meta property="og:description" content=""/>
    <meta name="twitter:title" content=""/>
    <meta name="twitter:image" content=""/>
    <meta name="twitter:url" content=""/>
    <meta name="twitter:card" content=""/>

    <link href='https://fonts.googleapis.com/css?family=Work+Sans:400,300,600,400italic,700' rel='stylesheet'
          type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Sacramento" rel="stylesheet">

    <!-- Animate.css -->
    <link rel="stylesheet" href="/css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="/css/icomoon.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="/css/bootstrap.css">

    <!-- Magnific Popup -->
    <link rel="stylesheet" href="/css/magnific-popup.css">

    <!-- Owl Carousel  -->
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">

    <!-- Theme style  -->
    <link rel="stylesheet" href="/css/style.css">

    <!-- Modernizr JS -->
    <script src="/js/modernizr-2.6.2.min.js"></script>


    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="/js/respond.min.js"></script>
    <![endif]-->

    <!--		[LightGalleryScripts]-->
    <script src="/js/plugins/lightgallery.umd.js"></script>

    <!--		[LightGalleryCss]-->
    <link rel="stylesheet" href="/css/demo.css"/>
    <link rel="stylesheet" href="/css/lightgallery-bundle.css"/>

    <link rel="shortcut icon" href="/fonts/favicon.ico">

</head>
<body>

<div class="fh5co-loader"></div>

<div id="page">
    <nav class="fh5co-nav" role="navigation">
        <div class="container">
            <div class="row">
                <div class="col-xs-2">
                    <div id="fh5co-logo"><a href="index.html">Wedding<strong>.</strong></a></div>
                </div>
                <div class="col-xs-10 text-right menu-1">
                    <ul>
                        <li class="active"><a href="index.html">Home</a></li>
                        <li><a href="about.html">Story</a></li>
                        <li class="has-dropdown">
                            <a href="services.html">Services</a>
                            <ul class="dropdown">
                                <li><a href="#">Web Design</a></li>
                                <li><a href="#">eCommerce</a></li>
                                <li><a href="#">Branding</a></li>
                                <li><a href="#">API</a></li>
                            </ul>
                        </li>
                        <li class="has-dropdown">
                            <a href="gallery.html">Gallery</a>
                            <ul class="dropdown">
                                <li><a href="#">HTML5</a></li>
                                <li><a href="#">CSS3</a></li>
                                <li><a href="#">Sass</a></li>
                                <li><a href="#">jQuery</a></li>
                            </ul>
                        </li>
                        <li><a href="contact">Contact</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </nav>

    <header id="fh5co-header" class="fh5co-cover" role="banner"
            th:style="'background-image:url(/images/'+${alias}+'/'+ ${backgroundTop} + ');'" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <div class="display-t">
                        <div class="display-tc animate-box" data-animate-effect="fadeIn">
                            <h1 th:text="${brideName}+ ' &amp; ' + ${groomName}">Joefrey &amp; Sheila</h1>
                            <h2>Pobieramy się już za</h2>
                            <div class="simply-countdown simply-countdown-one"></div>
                            <p><a th:href=${saveDateLink} class="btn btn-default btn-sm">Zapisz w kalendarzu</a></p>

                            <!--							<form action="https://calendar.google.com/calendar/render" method="POST">-->
                            <!--								<input type="hidden" name="action" value="TEMPLATE">-->
                            <!--								<input type="hidden" name="text" th:value="${eventSubject}">-->
                            <!--								<input type="hidden" name="eventDescription" th:value="${eventDescription}">-->
                            <!--								<input type="hidden" name="dates" value="${formattedWeddingStartDate}/${formattedWeddingEndDate}">-->
                            <!--								<input type="hidden" name="location" th:value="${weddingLocation}">-->
                            <!--								<button class="btn btn-default btn-sm" type="submit">Save the date</button>-->
                            <!--							</form>-->


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div id="fh5co-couple">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
                    <h2>Witaj!</h2>
                    <h3 th:text="'/images/'+${alias}+'/'+${dateAndPlace}">November 28th, 2016 New York, USA</h3>
                    <p>Zapraszamy Cię, aby wspólnie celebrować nasz ślub</p>
                </div>
            </div>
            <div class="couple-wrap animate-box">
                <div class="couple-half">
                    <div class="groom">
                        <img th:src="'/images/'+${alias}+'/'+${groomImage}" alt="groom" class="img-responsive">
                    </div>
                    <div class="desc-groom">

                        <h3 th:text="${groomName}+' '+${groomLastName}">Joefrey Mahusay</h3>
                        <p th:text="${groomDescription}">Far far away, behind the word mountains, far from the countries
                            Vokalia and Consonantia, there live the blind texts. Separated they live in
                            Bookmarksgrove</p>
                    </div>
                </div>
                <p class="heart text-center"><i class="icon-heart2"></i></p>
                <div class="couple-half">
                    <div class="bride">
                        <img th:src="'/images/'+${alias}+'/'+${brideImage}" alt="groom" class="img-responsive">
                    </div>
                    <div class="desc-bride">
                        <h3 th:text="${brideName}+' '+${brideLastName}">Sheila Mahusay</h3>
                        <p th:text="${brideDescription}">Far far away, behind the word mountains, far from the countries
                            Vokalia and Consonantia, there live the blind texts. Separated they live in
                            Bookmarksgrove</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="fh5co-event" class="fh5co-bg" th:style="'background-image:url(/images/'+${alias+'/'+backgroundMiddle}+');'">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
                    <span>Our Special Events</span>
                    <h2>Wedding Events</h2>
                </div>
            </div>
            <div class="row">
                <div class="display-t">
                    <div class="display-tc">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="col-md-6 col-sm-6 text-center">
                                <div class="event-wrap animate-box">
                                    <h3>Main Ceremony</h3>
                                    <div class="event-col">
                                        <i class="icon-clock"></i>
                                        <span th:text="${#dates.format(ceremonyStartObject, 'HH:mm')}">4:00 PM</span>
                                        <span th:text="${#dates.format(ceremonyEndObject, 'HH:mm')}">6:00 PM</span>
                                    </div>
                                    <div class="event-col">
                                        <i class="icon-calendar"></i>
                                        <span th:text="${#strings.capitalize(#dates.format(ceremonyStartObject, 'EEEE'))}"></span>
                                        <span th:utext="${#dates.format(ceremonyEndObject, 'dd MMMM, yyyy')}+' r.'"></span>
                                    </div>
                                    <p th:text="${ceremonyDescription}">Far far away, behind the word mountains, far
                                        from the countries Vokalia and Consonantia, there live the blind texts.
                                        Separated they live in Bookmarksgrove right at the coast of the Semantics, a
                                        large language ocean.</p>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 text-center">
                                <div class="event-wrap animate-box">
                                    <h3>Wedding Party</h3>
                                    <div class="event-col">
                                        <i class="icon-clock"></i>
                                        <span th:text="${#dates.format(weddingPartyStartObject, 'HH:mm')}">7:00 PM</span>
                                        <span th:text="${#dates.format(weddingPartyEndObject, 'HH:mm')}">12:00 AM</span>
                                    </div>
                                    <div class="event-col">
                                        <i class="icon-calendar"></i>
                                        <!--										<span th:text="${#dates.format(weddingPartyStartObject, '')}">Monday 28</span>-->
                                        <!--										<span th:text="${#dates.format(weddingPartyStartObject, '')}">November, 2016</span>-->
                                        <span th:text="${#strings.capitalize(#dates.format(weddingPartyStartObject, 'EEEE'))}"></span>
                                        <span th:utext="${#dates.format(weddingPartyStartObject, 'dd MMMM, yyyy')}+' r.'"></span>

                                    </div>
                                    <p th:text="${weddingPartyDescription}">Far far away, behind the word mountains, far
                                        from the countries Vokalia and Consonantia, there live the blind texts.
                                        Separated they live in Bookmarksgrove right at the coast of the Semantics, a
                                        large language ocean.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="fh5co-couple-story">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
                    <span>Jak to się zaczeło</span>
                    <h2>Nasza Historia</h2>
                    <p th:text="${shortLoveStory}">Far far away, behind the word mountains, far from the countries
                        Vokalia and Consonantia, there live the blind texts.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-md-offset-0">
                    <ul class="timeline animate-box" th:each="event, status: ${eventList}">

                        <!--						<li class="animate-box">-->
                        <li th:classappend="${status.even} ? 'timeline-inverted' : ''" class="animate-box">
                            <div class="timeline-badge" th:style="'background-image:url(/images/'+${alias+'/'+event.imageUrl}+');'"></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3 class="timeline-title" th:text="${event.title}">First We Meet</h3>
                                    <span class="date" th:text="${#dates.format(event.date, 'd MMMM, yyyy')}">December 25, 2015</span>
                                </div>
                                <div class="timeline-body">
                                    <p th:text="${event.description}">Far far away, behind the word mountains, far from
                                        the countries Vokalia and Consonantia, there live the blind texts. Separated
                                        they live in Bookmarksgrove right at the coast of the Semantics, a large
                                        language ocean.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div id="fh5co-gallery" class="fh5co-section-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
                    <span>Nasze Wspomnienia</span>
                    <h2>Ślubna Galeria</h2>
                    <p>Zapraszamy do odkrycia magii tego wyjątkowego dnia poprzez naszą galerię ślubną, gdzie każde
                        zdjęcie opowiada niepowtarzalną historię miłości i emocji.</p>
                </div>
            </div>
            <div class="row row-bottom-padded-md">
                <!--				<div class="col-md-12">-->
                <!--					<ul id="fh5co-gallery-list">-->

                <!--						<li th:each="gallery: ${galleryList}" class="one-third animate-box" data-animate-effect="fadeIn" th:if="${not #lists.isEmpty(gallery.images)}" th:style= "'background-image: url(' + ${gallery.images.get(0).imageUrl} + ');'">-->
                <!--						<a th:href="${gallery.images.get(0).imageUrl}">-->
                <!--							<div class="case-studies-summary">-->
                <!--								<span>14 Photos</span>-->
                <!--								<h2 th:text="${gallery.images.get(0).name}">Two Glasses of Juice</h2>-->
                <!--							</div>-->
                <!--						</a>-->
                <!--					</li>-->
                <!--					</ul>-->
                <!--				</div>-->

                <div class="demo-gallery">
                    <ul th:each="gallery: ${galleryList}" th:id="'lightgallery'+${galleryList.indexOf(gallery)}"
                        class="list-unstyled row">
                        <li th:each="image: ${gallery.getImages()}"
                            th:data-responsive="${image.imageUrl}"
                            th:data-src="${image.imageUrl}"
                            ata-sub-html="<h4>Image Description</p>"
                            data-pinterest-text="Pin it1"
                            th:style="'background-image: url(/images/'+${alias+'/'+image.imageUrl} + ');'"
                            data-tweet-text="share on twitter 1">
                            <a href="">
                                <div class="case-studies-summary">
                                    <span th:text="${gallery.getImages().size()}+' Photos'">14 Photos</span>
                                    <h2 th:text="${gallery.getTitle()}">Two Glasses of Juice</h2>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div id="fh5co-counter" class="fh5co-bg fh5co-counter" th:style="'background-image:url(/images/'+${alias+'/'+backgroundNumbers}+');'">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="display-t">
                    <div class="display-tc">
                        <div class="col-md-3 col-sm-6 animate-box">
                            <div class="feature-center">
								<span class="icon">
									<i class="icon-users"></i>
								</span>

                                <span class="counter js-counter" data-from="0" th:data-to="${weddingInvitedGuests}"
                                      data-speed="5000" data-refresh-interval="50">1</span>
                                <span class="counter-label">Spodziewanych gości</span>

                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 animate-box">
                            <div class="feature-center">
								<span class="icon">
									<i class="icon-user"></i>
								</span>

                                <span class="counter js-counter" data-from="0" th:data-to="${weddingConfirmedGuests}"
                                      data-speed="5000" data-refresh-interval="50">1</span>
                                <span class="counter-label">Potwierdzonych gości</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 animate-box">
                            <div class="feature-center">
								<span class="icon">
									<i class="icon-calendar"></i>
								</span>
                                <span class="counter js-counter" data-from="0" th:data-to="${eventsDoneInThisPlace}"
                                      data-speed="5000" data-refresh-interval="50">1</span>
                                <span class="counter-label">Zrealizowanych imprez w tym miejscu</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 animate-box">
                            <div class="feature-center">
								<span class="icon">
									<i class="icon-clock"></i>
								</span>

                                <span class="counter js-counter" data-from="0" th:data-to="${hoursSpentOnPreparing}"
                                      data-speed="5000" data-refresh-interval="50">1</span>
                                <span class="counter-label">Godzin spędzonych na przygotowaniach</span>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="fh5co-testimonial">
        <div class="container">
            <div class="row">
                <div class="row animate-box">
                    <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                        <span>Najlepsze Życzenia</span>
                        <h2>Życzenia od przyjaciół</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 animate-box">
                        <div class="wrap-testimony">
                            <div class="owl-carousel-fullwidth">
                                <div class="item" th:each="wish: ${wishList}">
                                    <div class="testimony-slide active text-center">
                                        <figure>
                                            <img th:src="'/images/'+${alias+'/'+wish.imageUrl}" alt="user">
                                        </figure>
                                        <span th:text="${wish.sender}+ ', via ' + ${wish.platform}">John Doe, via <a
                                                href="#" class="twitter" th:text="${wish.platform}">Twitter</a></span>
                                        <blockquote>
                                            <p th:text="${wish.content}">"Far, far away, behind the word mountains, far
                                                from the countries Vokalia and Consonantia, there live the blind texts.
                                                Separated they live in Bookmarksgrove right at the coast of the
                                                Semantics"</p>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="fh5co-services" class="fh5co-section-gray">
        <div class="container">

            <div class="row animate-box">
                <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                    <h2>Atrakcje na weselu</h2>
                    <p>Aby każdy gość czuł się wyjątkowo dobrze, zapewnimy wiele udogodnień, wśród których każdy
                        znajdzie coś dla siebie.</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="feature-left animate-box" data-animate-effect="fadeInLeft"
                         th:each="facility: ${facilityList}">
						<span class="icon">
							<i th:class="${facility.iconUrl}"></i>
						</span>
                        <div class="feature-copy">
                            <h3 th:text="${facility.name}">Animacje dla dzieci</h3>
                            <p th:text="${facility.content}">Nie tylko dorośli bawią się dobrze na naszym weselu. Każdy
                                musi czy się świetnie, w tym Wasze pociechy. Zespół doświadczonych animatorów już czeka
                                z głową pełną pomysłów i wielkimi torbami zabawek.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 animate-box">
                    <div class="fh5co-video fh5co-bg" th:style="'background-image: url(/images/'+${alias+'/'+videoThumbnail} + ');'">
                        <a th:href="${videoUrl}" class="popup-vimeo"><i class="icon-video2"></i></a>
                        <div class="overlay"></div>
                    </div>
                </div>
            </div>


        </div>
    </div>


    <div id="fh5co-started" class="fh5co-bg" th:style="'background-image:url(/images/'+${alias+'/'+backgroundBottom}+');'">
        <div class="overlay"></div>
        <div class="container">
            <div class="row animate-box">
                <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                    <h2>Potwierdzasz obecność?</h2>
                    <p>Proszę wypełnij formularz, aby powiadomić nas, że możemy na Ciebie liczyć. Dziękujemy!</p>
                </div>
            </div>
            <div class="row animate-box">
                <div class="col-md-10 col-md-offset-1">
                    <!--					<form class="form-inline" action="/send-email" method="post">-->
                    <form class="form-inline" id="confirmation-form">

                        <div class="col-md-4 col-sm-4">
                            <div class="form-group">
                                <label for="name" class="sr-only">Name</label>
                                <input type="text" class="form-control" id="name" name="name" placeholder="Name">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="form-group">
                                <label for="phone" class="sr-only">Numer telefonu</label>
                                <input type="text" class="form-control" id="phone" name="phone"
                                       placeholder="Numer telefonu">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="form-group">
                                <label for="email" class="sr-only">Email</label>
                                <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <!--							<button type="submit" class="btn btn-default btn-block">Potwierdzam</button>-->
                            <button type="button" id="submit-button" class="btn btn-default btn-block">Potwierdzam
                            </button>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <footer id="fh5co-footer" role="contentinfo">
        <div class="container">

            <div class="row copyright">
                <div class="col-md-12 text-center">
                    <p>
                        <small class="block">&copy; 2016 Free HTML5. All Rights Reserved.</small>
                        <small class="block">Designed by <a href="http://freehtml5.co/" target="_blank">FREEHTML5.co</a>
                            Demo Images: <a href="http://unsplash.co/" target="_blank">Unsplash</a></small>
                    </p>
                    <p>
                    <ul class="fh5co-social-icons">
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-linkedin"></i></a></li>
                        <li><a href="#"><i class="icon-dribbble"></i></a></li>
                    </ul>
                    </p>
                </div>
            </div>

        </div>
    </footer>
</div>

<div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Potwierdzenie obecności</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="result-message"></div> <!-- Tutaj będzie wyświetlana odpowiedź -->
            </div>
            <div class="modal-footer">
                <!--					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
                <!--					<button type="button" class="btn btn-primary">Save changes</button>					-->
                <!--					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
                <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>


<!--	&lt;!&ndash; Button trigger modal &ndash;&gt;-->
<!--	<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">-->
<!--		Launch demo modal-->
<!--	</button>-->

<!--	&lt;!&ndash; Modal &ndash;&gt;-->
<!--	<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">-->
<!--		<div class="modal-dialog modal-dialog-centered" role="document">-->
<!--			<div class="modal-content">-->
<!--				<div class="modal-header">-->
<!--					<h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>-->
<!--					<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--						<span aria-hidden="true">&times;</span>-->
<!--					</button>-->
<!--				</div>-->
<!--				<div class="modal-body">-->
<!--					...-->
<!--				</div>-->
<!--				<div class="modal-footer">-->
<!--					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
<!--					<button type="button" class="btn btn-primary">Save changes</button>-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->


<!--	<div class="row row-bottom-padded-md">-->
<!--		<div class="col-md-12">-->
<!--			<ul id="fh5co-gallery-list">-->

<!--				<li th:each="gallery: ${galleryList}" class="one-third animate-box" data-animate-effect="fadeIn" th:if="${not #lists.isEmpty(gallery.images)}" th:style= "'background-image: url(' + ${gallery.images.get(0).imageUrl} + ');'">-->
<!--					<a th:href="${gallery.images.get(0).imageUrl}">-->
<!--						<div class="case-studies-summary">-->
<!--							<span>14 Photos</span>-->
<!--							<h2 th:text="${gallery.images.get(0).name}">Two Glasses of Juice</h2>-->
<!--						</div>-->
<!--					</a>-->
<!--				</li>-->
<!--			</ul>-->
<!--		</div>-->
<!--	</div>-->


<!--	th:each="gallery: ${galleryList}"-->


<!-- jQuery -->
<script src="/js/jquery.min.js"></script>
<!-- jQuery Easing -->
<script src="/js/jquery.easing.1.3.js"></script>
<!-- Bootstrap -->
<script src="/js/bootstrap.min.js"></script>
<!-- Waypoints -->
<script src="/js/jquery.waypoints.min.js"></script>
<!-- Carousel -->
<script src="/js/owl.carousel.min.js"></script>
<!-- countTo -->
<script src="/js/jquery.countTo.js"></script>

<!-- Stellar -->
<script src="/js/jquery.stellar.min.js"></script>
<!-- Magnific Popup -->
<script src="/js/jquery.magnific-popup.min.js"></script>
<script src="/js/magnific-popup-options.js"></script>

<!-- // <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/0.0.1/prism.min.js"></script> -->
<script src="/js/simplyCountdown.js"></script>
<!-- Main -->
<script src="/js/main.js"></script>


<script th:inline="javascript">
    var d = new Date([[${#dates.format(ceremonyStartObject, 'yyyy-MM-dd HH:mm:ss')}]]);

    // default example
    simplyCountdown('.simply-countdown-one', {
    year: d.getFullYear(),
    month: d.getMonth() + 1,
    day: d.getDate(),
    hours: d.getHours(),
    minutes: d.getMinutes()
});
</script>

<script>
    var galleryElements = document.querySelectorAll('.list-unstyled.row');

    for (var i = 0; i < galleryElements.length; i++) {
        lightGallery(galleryElements[i]);
    }
</script>

<!--	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>-->
<!--	<script>-->
<!--    $(document).ready(function () {-->
<!--        $("#emailForm").submit(function (event) {-->
<!--            event.preventDefault();-->

<!--            // Pobierz dane z formularza-->
<!--            var name = $("#name").val();-->
<!--            var phone = $("#phone").val();-->
<!--            var email = $("#email").val();-->

<!--            // Wysyłka danych na serwer-->
<!--            $.ajax({-->
<!--                url: "/send-email",-->
<!--                type: "POST",-->
<!--                data: {-->
<!--                    name: name,-->
<!--                    phone: phone,-->
<!--                    email: email-->
<!--                },-->
<!--                success: function (response) {-->
<!--                    // Obsługa sukcesu (np. wyświetlenie komunikatu)-->
<!--                    alert("E-mail został wysłany!");-->
<!--                },-->
<!--                error: function (error) {-->
<!--                    // Obsługa błędów (np. wyświetlenie komunikatu o błędzie)-->
<!--                    alert("Wystąpił błąd podczas wysyłania e-maila.");-->
<!--                }-->
<!--            });-->
<!--        });-->
<!--    });-->
<!--</script>-->
<script>
    $(document).ready(function () {
        $('#submit-button').click(function () {
            // Pobierz dane z formularza
            var name = $('#name').val();
            var phone = $('#phone').val();
            var email = $('#email').val();

            // Wyślij dane za pomocą AJAX
            $.ajax({
                type: 'POST',
                url: '/send-email',
                data: {
                    name: name,
                    phone: phone,
                    email: email
                },
                success: function (response) {
                    // Wyświetl odpowiedź w okienku modalnym
                    $('#result-message').html('<div class="alert alert-success">' + response + '</div>');
                    $('#exampleModalCenter').modal('show'); // Pokaż okno modalne sukcesu
                },
                error: function (error) {
                    // Wyświetl błąd w okienku modalnym
                    $('#result-message').html('<div class="alert alert-danger">' + response + '</div>');
                    $('#exampleModalCenter').modal('show'); // Pokaż okno modalne błędu
                }
            });
        });
    });


</script>


</body>
</html>

